.tornPaper {
  position: absolute;
  left: 0px;
  width: 760px;
  height: 37px;
  margin: auto;
  background: #00000042;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 70% 100%, 0 100%);
  clip-path: polygon(0 0, 3.125% 100%, 6.25% 0, 9.375% 100%, 12.5% 0, 15.625% 100%, 18.75% 0, 21.875% 100%, 25% 0, 28.125% 100%, 31.25% 0, 34.375% 100%, 37.5% 0, 40.625% 100%, 43.75% 0, 46.875% 100%, 50% 0, 53.125% 100%, 56.25% 0, 59.375% 100%, 62.5% 0, 65.625% 100%, 68.75% 0, 71.875% 100%, 75% 0, 78.125% 100%, 81.25% 0, 84.375% 100%, 87.5% 0, 90.625% 100%, 93.75% 0, 96.875% 100%, 100% 0);
}

.triangle {
  margin: auto;
  content: "";
  background:  #C8C8C8FF;
  width: 760px;
  height: 30px;
  left: 85px;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 70% 100%, 0 100%);
  clip-path: polygon(0 0, 3.125% 100%, 6.25% 0, 9.375% 100%, 12.5% 0, 15.625% 100%, 18.75% 0, 21.875% 100%, 25% 0, 28.125% 100%, 31.25% 0, 34.375% 100%, 37.5% 0, 40.625% 100%, 43.75% 0, 46.875% 100%, 50% 0, 53.125% 100%, 56.25% 0, 59.375% 100%, 62.5% 0, 65.625% 100%, 68.75% 0, 71.875% 100%, 75% 0, 78.125% 100%, 81.25% 0, 84.375% 100%, 87.5% 0, 90.625% 100%, 93.75% 0, 96.875% 100%, 100% 0)
}
